client_mesh/client_mesh/Service References/ServiceReference1/FolderManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyLiveMesh.LinqToSQL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyLiveMesh.LinqToSQL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSharing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sharing" nillable="true" type="tns:Sharing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSharing" nillable="true" type="tns:ArrayOfSharing" />
  <xs:complexType name="Sharing">
    <xs:sequence>
      <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idOwner" type="xs:int" />
      <xs:element minOccurs="0" name="idRecevier" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sharing" nillable="true" type="tns:Sharing" />
</xs:schema>