client_mesh/client_mesh/Service References/ServiceReference1/FolderManager43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1991/services/FolderManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="CreateResult" nillable="true" type="q1:WebResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="DeleteResult" nillable="true" type="q2:WebResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rename">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="RenameResult" nillable="true" type="q3:WebResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="DirListResult" nillable="true" type="q4:WebResultOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="FileListResult" nillable="true" type="q5:WebResultOfArrayOfFileDefinitiony8fP_SiTt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyLiveMesh.Utils" minOccurs="0" name="GetFileFromResult" nillable="true" type="q6:WebResultOfFileDefinitiony8fP_SiTt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>